<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <div class="logo"></div>
        <div class="info">
            <p>fecha de creacion</p>
            <p> tu vieja </p>
        </div>
    </div>
</body>
</html>

<style>
    .head{
        display: flex;
        background-color: aqua;
        align-items: center;
        justify-content: space-between;
    }
    

</style>